/* Nav Bar */

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4%;
  border-radius: calc(0.1 * 100px);
  box-shadow: 1px 4px 14px 1px rgba(70, 70, 70, 0.38);
  background: #c4c2c298;
  font-size: 1rem;
}

.navbarTitle {
  font-size: 1.5em;
  padding: 1%;
}

.navbarList {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  align-items: center;
}

.navbarList li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

a:active, a:hover {
  color: rgb(12, 250, 206)
}