* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* app */
.app {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

/* Calculator Container */
.calculator-container {
  width: 20em;
  display: flex;
  flex-direction: column;
}

.calculator-result {
  display: flex;
  background-color: #b5b5b5;
  justify-content: flex-end;
  padding: 1em;
  align-items: center;
  height: 2em;
  font-size: 1.5em;
  color: white;
}

/* Buttons */
.calc-btn {
  width: 5rem;
  padding: 5%;
}

.calculation-btn {
  background-color: #f5913e;
}

.zero-btn {
  width: 10rem;
}
